.brand-logo{
    font-family: 'Lobster', cursive;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding-left: 2% !important;
}

.brand-logo > span{
    padding-left: 10%;
}

main{
    margin-top: 5% !important;
}

#_img{
    width: 100%;
    /* height: 50vh; */
}

#obraCont{
    /* display: flex; */
    /* align-items: ; */
}

.grid-sizer {width: 100%; }
.grid-item { width: 20%; }
/* 2 columns */
.grid-item--width2 { width: 40%; }
/* .grid-item--width2 { width: 600px; } */

x-rating {
    font-family: "Material Icons";
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
}

x-rating > .star::after {
    content: 'star_border';
    color: #777;
}

x-rating > .star.full::after {
    content: 'star';
    color: #fd0;
}

.grid-sizer,
.grid-item {
    width: 33.333%;
}

.grid-item{
    padding: 10px;
}

.grid-item.g2 {
    width: 66.666%;
}

.grid-item img {
	display: block;
	max-width: 100%;
}

@media(max-width: 70em) and (min-width: 30em){
	.grid-sizer,
	.grid-item {
		width: 50%;
    }
    
    .grid-item.g2{
        width: 100%;
    }
}

@media(max-width: 30em){
	.grid-sizer,
	.grid-item, .grid-item.g2 {
		width: 100%;
	}
}

#comments{
    padding: 2%;
    background: #fafafa;
}

#comments li{
    border: 2px solid #bdbdbd;
    margin: 2% 0;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

#comments li .content{
    text-align: justify;
}

#comments li .data{
    font-size: 0.8em;
    margin-top: 1%;
    text-align: right;
    font-style: italic;
}